.gradle/
**/build/
!src/**/build/
.idea/
*.iml
.idea_modules/
*.apk
*.aab
*.dex
local.properties
captures/
.externalNativeBuild/
.cxx/
.kotlin/
proguard/
lint-results*.xml
.DS_Store
Thumbs.db
*.log
*.keystore
*.jks
secrets.properties
**/kotlin-js-store/
.kotlin-js-store/